:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

header {
  padding: 1em 1.5em;
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}

.main {
  padding: 0 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
}

/* .media {
  float: left;
  width: 50%;
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
} */

.media {
  float: left;
  margin: 0 1.5em 1.5em 0; /* add gutter */
  width: calc(50% - 1.5em); /* width-margin to avoid unwanted wrapping */
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

/* use the :nth-child(odd) pseudo selector to ensure that every odd
   element clears the float above it */
   .media:nth-child(odd) {
    clear: left;
  }

/* use this style instead of html style="clear: both" */
/* .clearfix::after {
  display: block;
  content: " ";
  clear: both;
} */

/* use the ::before and ::after pseudo elements with table */
/* this block is better than the previous because it fixes the margin 
  collapsing for the before element (elements at start of main container) */
.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}

/* use the below (media-image and media-body classes) to align the image 
  left of the text in each float box. without this the heading is below the image */
.media-image {
  float: left;
  margin-right: 1.5em; /* add margin between image and text */
}

.media-body {
  overflow: auto; /* this creates a block formatting context(bfc) */
  margin-top: 0; /* remove top margin created by lobotomized owl */
 }
 
 .media-body h4 {
  margin-top: 0; /* override top margin created by user agent */
}